body {
    margin: 0;
    padding: 0;    
    font-family: Inconsolata;
    text-align: center;
}

a {
    text-decoration: none;
    margin: 0;
    padding: 0;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}

.sub-heading {
    font-size: 6vw;
    margin: 10px;
}

.heading {
    font-size: 8vw;
}

.text {
    margin: 10px;
    padding: 15px;
    text-align: justify;
    height: 100px;
}

form {
    margin: 7vh 0;
}

label, input {
    margin: 10px 5px;
}

input {
    border: none;
    width: 200px;
}

input[type="text"]{
    border-bottom: 2px solid red;
}

input:focus {
    outline: none;
}

.button {
    margin: 10px auto;
    background: #BF3D6C;
    padding: 15px;
    height: 60px;
    width: 200px;
    text-align: center;
    cursor: pointer;
    border: none;
    color: white;
    font-family: 'IM Fell Great Primer';
    border-radius: 10px;
    box-shadow: inset 2px 1px 9px 1px white;
    transition: .2s all;
}

.button:hover {
    transform: scale(1.05);
}

.button:active {
    transition: none;
    transform: scale(0.9);
}

.button p {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 30px;
    height: 30px;
}

.button .material-symbols-outlined {
    font-size: 45px;
}

.topBar {
    background-color: #FFD873;
    width: calc(100% - 10px);
    height: 37px;
    padding: 5px;
    margin-bottom: 10px;
}

.topBar span {
    width: 70px;
    height: 30px;
    float: left;
    text-align: center;
    background-color: #FAE2A6;
    margin: 2.5px;
    padding: 1px;
    font-size: 30px;
}

.topBar span img {
    width: 30px;
}

.LevelLine {
    width: calc(100% - 10px);
    margin: 10px 5px;
    display: grid;
    grid-template-columns: auto auto auto auto auto auto auto;
    text-align: center;
    justify-content: center;
}

.level {
    font-family: 'Jockey One';
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0px 10px 10px 10px;
    font-size: 25px;
    position: relative;
    z-index: 10;
    user-select: none;
    cursor: pointer;
}

.level a {
    width: 100%;
    height: 100%;
}

.level:after {
    content: "";
    position: absolute;
    top: 0px;
    right: -10px;
    width: 30px;
    height: 30px;
    background-image: url(images/lock.png);
    background-repeat: no-repeat;
    background-size: cover;
    z-index: 20;
}

.level2.unlocked:after, .level3.unlocked:after, .level4.unlocked:after, .level5.unlocked:after {
    display: none;
}

.level1:after {
    display: none;
}

.green {
    width: 40px;
    height: 40px;
    background-color: #60DE13;
}

.golden {
    width: 120px;
    height: 120px;
    background-image: url(images/level21.png);
    background-size: cover;
    background-repeat: no-repeat;
    color: white;
    font-size: 35px;
}

.golden.level:after {
    width: 50px;
    height: 50px;
    right: -5px;
    top: 5px;
}

#upload {
    margin: 10px auto;
    display: block;
}

#upload img {
    width: 100px;
}

#result {
    width: 60vw;
    height: 85vh;
    background: lightgrey;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 10px;
    overflow: auto;
    flex-direction: column;
    justify-content: space-between;
    display: flex;
}

#progress {
    width: 100%;
    border-radius: 0px;
    position: absolute;
    left: 0;
    top: 0;
}

#namedisplay {
    width: fit-content;
    float: right;
    padding: 0px 5px;
}